// Generated by swift-openapi-generator, do not modify.
@_spi(Generated) import OpenAPIRuntime
#if os(Linux)
@preconcurrency import struct Foundation.URL
@preconcurrency import struct Foundation.Data
@preconcurrency import struct Foundation.Date
#else
import struct Foundation.URL
import struct Foundation.Data
import struct Foundation.Date
#endif
import HTTPTypes
/// # Introduction
/// Welcome to the reference for the Lichess API! Lichess is free/libre,
/// open-source chess server powered by volunteers and donations.
/// - Get help in the [Lichess Discord channel](https://discord.gg/lichess)
/// - API demo app with OAuth2 login and gameplay: [source](https://github.com/lichess-org/api-demo) / [demo](https://lichess-org.github.io/api-demo/)
/// - API UI app with OAuth2 login and endpoint forms: [source](https://github.com/lichess-org/api-ui) / [website](https://lichess.org/api/ui)
/// - [Contribute to this documentation on Github](https://github.com/lichess-org/api)
/// - Check out [Lichess widgets to embed in your website](https://lichess.org/developers)
/// - [Download all Lichess rated games](https://database.lichess.org/)
/// - [Download all Lichess puzzles with themes, ratings and votes](https://database.lichess.org/#puzzles)
/// - [Download all evaluated positions](https://database.lichess.org/#evals)
///
/// ## Endpoint
/// All requests go to `https://lichess.org` (unless otherwise specified).
///
/// ## Clients
/// - [Python general API](https://github.com/lichess-org/berserk)
/// - [MicroPython general API](https://github.com/mkomon/uberserk)
/// - [Python general API - async](https://pypi.org/project/async-lichess-sdk)
/// - [Python Lichess Bot](https://github.com/lichess-bot-devs/lichess-bot)
/// - [Python Board API for Certabo](https://github.com/haklein/certabo-lichess)
/// - [Java general API](https://github.com/tors42/chariot)
/// - [JavaScript & TypeScript general API](https://github.com/devjiwonchoi/equine)
/// - [LichessNET - C# API Wrapper](https://github.com/Rabergsel/LichessNET)
///
/// ## Rate limiting
/// All requests are rate limited using various strategies,
/// to ensure the API remains responsive for everyone.
/// Only make one request at a time.
/// If you receive an HTTP response with a [429 status](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#429),
/// please wait a full minute before resuming API usage.
///
/// ## Streaming with ND-JSON
/// Some API endpoints stream their responses as [Newline Delimited JSON a.k.a. **nd-json**](https://github.com/ndjson/ndjson-spec), with one JSON object per line.
///
/// Here's a [JavaScript utility function](https://gist.github.com/ornicar/a097406810939cf7be1df8ea30e94f3e) to help reading NDJSON streamed responses.
///
/// ## Authentication
/// ### Which authentication method is right for me?
/// [Read about the Lichess API authentication methods and code examples](https://github.com/lichess-org/api/blob/master/example/README.md)
///
/// ### Personal Access Token
/// Personal API access tokens allow you to quickly interact with Lichess API without going through an OAuth flow.
/// - [Generate a personal access token](https://lichess.org/account/oauth/token)
/// - `curl https://lichess.org/api/account -H "Authorization: Bearer {token}"`
/// - [NodeJS example](https://github.com/lichess-org/api/tree/master/example/oauth-personal-token)
///
/// ### Token Security
/// - Keep your tokens secret. Do not share them in public repositories or public forums.
/// - Your tokens can be used to make your account perform arbitrary actions (within the limits of the tokens' scope). You remain responsible for all activities on your account.
/// - Do not hardcode tokens in your application's code. Use environment variables or a secure storage and ensure they are not shipped/exposed to users. Be especially careful that they are not included in frontend bundles or apps that are shipped to users.
/// - If you suspect a token has been compromised, revoke it immediately.
///
/// To see your active tokens or revoke them, see [your Personal API access tokens](https://lichess.org/account/oauth/token).
///
/// ### Authorization Code Flow with PKCE
/// The authorization code flow with PKCE allows your users to **login with Lichess**.
/// Lichess supports unregistered and public clients (no client authentication, choose any unique client id).
/// The only accepted code challenge method is `S256`.
/// Access tokens are long-lived (expect one year), unless they are revoked.
/// Refresh tokens are not supported.
///
/// See the [documentation for the OAuth endpoints](#tag/OAuth) or
/// the [PKCE RFC](https://datatracker.ietf.org/doc/html/rfc7636#section-4) for a precise protocol description.
///
/// - [Demo app](https://lichess-org.github.io/api-demo/)
/// - [Minimal client-side example](https://github.com/lichess-org/api/tree/master/example/oauth-app)
/// - [Flask/Python example](https://github.com/lakinwecker/lichess-oauth-flask)
/// - [Java example](https://github.com/tors42/lichess-oauth-pkce-app)
/// - [NodeJS Passport strategy to login with Lichess OAuth2](https://www.npmjs.com/package/passport-lichess)
///
/// #### Real life examples
/// - [PyChess](https://github.com/gbtami/pychess-variants) ([source code](https://github.com/gbtami/pychess-variants))
/// - [Lichess4545](https://www.lichess4545.com/) ([source code](https://github.com/cyanfish/heltour))
/// - [English Chess Federation](https://ecf.octoknight.com/)
/// - [Rotherham Online Chess](https://rotherhamonlinechess.azurewebsites.net/tournaments)
///
/// ### Token format
/// Access tokens and authorization codes match `^[A-Za-z0-9_]+$`.
/// The length of tokens can be increased without notice. Make sure your application can handle at least 512 characters.
/// By convention tokens have a recognizable prefix, but do not rely on this.
///
internal struct Client: APIProtocol {
    /// The underlying HTTP client.
    private let client: UniversalClient
    /// Creates a new client.
    /// - Parameters:
    ///   - serverURL: The server URL that the client connects to. Any server
    ///   URLs defined in the OpenAPI document are available as static methods
    ///   on the ``Servers`` type.
    ///   - configuration: A set of configuration values for the client.
    ///   - transport: A transport that performs HTTP operations.
    ///   - middlewares: A list of middlewares to call before the transport.
    internal init(
        serverURL: Foundation.URL,
        configuration: Configuration = .init(),
        transport: any ClientTransport,
        middlewares: [any ClientMiddleware] = []
    ) {
        self.client = .init(
            serverURL: serverURL,
            configuration: configuration,
            transport: transport,
            middlewares: middlewares
        )
    }
    private var converter: Converter {
        client.converter
    }
    /// Get real-time users status
    ///
    /// Read the `online`, `playing` and `streaming` flags of several users.
    /// This API is very fast and cheap on lichess side.
    /// So you can call it quite often (like once every 5 seconds).
    /// Use it to track players and know when they're connected on lichess and playing games.
    ///
    ///
    /// - Remark: HTTP `GET /api/users/status`.
    /// - Remark: Generated from `#/paths//api/users/status/get(apiUsersStatus)`.
    internal func apiUsersStatus(_ input: Operations.apiUsersStatus.Input) async throws -> Operations.apiUsersStatus.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiUsersStatus.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/users/status",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "ids",
                    value: input.query.ids
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "withSignal",
                    value: input.query.withSignal
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "withGameIds",
                    value: input.query.withGameIds
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "withGameMetas",
                    value: input.query.withGameMetas
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiUsersStatus.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiUsersStatus.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.apiUsersStatus.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get all top 10
    ///
    /// Get the top 10 players for each speed and variant.
    /// See <https://lichess.org/player>.
    ///
    ///
    /// - Remark: HTTP `GET /api/player`.
    /// - Remark: Generated from `#/paths//api/player/get(player)`.
    internal func player(_ input: Operations.player.Input) async throws -> Operations.player.Output {
        try await client.send(
            input: input,
            forOperation: Operations.player.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/player",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.player.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.player.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.Top10s.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get one leaderboard
    ///
    /// Get the leaderboard for a single speed or variant (a.k.a. `perfType`).
    /// There is no leaderboard for correspondence or puzzles.
    /// See <https://lichess.org/player/top/200/bullet>.
    ///
    ///
    /// - Remark: HTTP `GET /api/player/top/{nb}/{perfType}`.
    /// - Remark: Generated from `#/paths//api/player/top/{nb}/{perfType}/get(playerTopNbPerfType)`.
    internal func playerTopNbPerfType(_ input: Operations.playerTopNbPerfType.Input) async throws -> Operations.playerTopNbPerfType.Output {
        try await client.send(
            input: input,
            forOperation: Operations.playerTopNbPerfType.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/player/top/{}/{}",
                    parameters: [
                        input.path.nb,
                        input.path.perfType
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.playerTopNbPerfType.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.playerTopNbPerfType.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/vnd.lichess.v3+json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/vnd.lichess.v3+json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.Leaderboard.self,
                            from: responseBody,
                            transforming: { value in
                                .application_vnd_period_lichess_period_v3_plus_json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get user public data
    ///
    /// Read public data of a user.
    ///
    ///
    /// - Remark: HTTP `GET /api/user/{username}`.
    /// - Remark: Generated from `#/paths//api/user/{username}/get(apiUser)`.
    internal func apiUser(_ input: Operations.apiUser.Input) async throws -> Operations.apiUser.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiUser.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/user/{}",
                    parameters: [
                        input.path.username
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "trophies",
                    value: input.query.trophies
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiUser.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiUser.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.UserExtended.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get rating history of a user
    ///
    /// Read rating history of a user, for all perf types.
    /// There is at most one entry per day.
    /// Format of an entry is `[year, month, day, rating]`.
    /// `month` starts at zero (January).
    ///
    ///
    /// - Remark: HTTP `GET /api/user/{username}/rating-history`.
    /// - Remark: Generated from `#/paths//api/user/{username}/rating-history/get(apiUserRatingHistory)`.
    internal func apiUserRatingHistory(_ input: Operations.apiUserRatingHistory.Input) async throws -> Operations.apiUserRatingHistory.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiUserRatingHistory.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/user/{}/rating-history",
                    parameters: [
                        input.path.username
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiUserRatingHistory.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiUserRatingHistory.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.RatingHistory.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get performance statistics of a user
    ///
    /// Read performance statistics of a user, for a single performance.
    /// Similar to the [performance pages on the website](https://lichess.org/@/thibault/perf/bullet).
    ///
    ///
    /// - Remark: HTTP `GET /api/user/{username}/perf/{perf}`.
    /// - Remark: Generated from `#/paths//api/user/{username}/perf/{perf}/get(apiUserPerf)`.
    internal func apiUserPerf(_ input: Operations.apiUserPerf.Input) async throws -> Operations.apiUserPerf.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiUserPerf.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/user/{}/perf/{}",
                    parameters: [
                        input.path.username,
                        input.path.perf
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiUserPerf.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiUserPerf.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PerfStat.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get user activity
    ///
    /// Read data to generate the activity feed of a user.
    ///
    ///
    /// - Remark: HTTP `GET /api/user/{username}/activity`.
    /// - Remark: Generated from `#/paths//api/user/{username}/activity/get(apiUserActivity)`.
    internal func apiUserActivity(_ input: Operations.apiUserActivity.Input) async throws -> Operations.apiUserActivity.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiUserActivity.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/user/{}/activity",
                    parameters: [
                        input.path.username
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiUserActivity.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiUserActivity.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            [Components.Schemas.UserActivity].self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get the daily puzzle
    ///
    /// Get the daily Lichess puzzle in JSON format.
    /// Alternatively, you can [post it in your slack workspace](https://lichess.org/daily-puzzle-slack).
    ///
    ///
    /// - Remark: HTTP `GET /api/puzzle/daily`.
    /// - Remark: Generated from `#/paths//api/puzzle/daily/get(apiPuzzleDaily)`.
    internal func apiPuzzleDaily(_ input: Operations.apiPuzzleDaily.Input) async throws -> Operations.apiPuzzleDaily.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiPuzzleDaily.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/puzzle/daily",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiPuzzleDaily.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiPuzzleDaily.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PuzzleAndGame.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get a puzzle by its ID
    ///
    /// Get a single Lichess puzzle in JSON format.
    ///
    /// - Remark: HTTP `GET /api/puzzle/{id}`.
    /// - Remark: Generated from `#/paths//api/puzzle/{id}/get(apiPuzzleId)`.
    internal func apiPuzzleId(_ input: Operations.apiPuzzleId.Input) async throws -> Operations.apiPuzzleId.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiPuzzleId.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/puzzle/{}",
                    parameters: [
                        input.path.id
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiPuzzleId.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiPuzzleId.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PuzzleAndGame.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get a new puzzle
    ///
    /// Get a random Lichess puzzle in JSON format.
    ///
    /// If authenticated, only returns puzzles that the user has never seen before.
    ///
    /// **DO NOT** use this endpoint to enumerate puzzles for mass download. Instead, download the [full public puzzle database](https://database.lichess.org/#puzzles).
    ///
    ///
    /// - Remark: HTTP `GET /api/puzzle/next`.
    /// - Remark: Generated from `#/paths//api/puzzle/next/get(apiPuzzleNext)`.
    internal func apiPuzzleNext(_ input: Operations.apiPuzzleNext.Input) async throws -> Operations.apiPuzzleNext.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiPuzzleNext.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/puzzle/next",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "angle",
                    value: input.query.angle
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "difficulty",
                    value: input.query.difficulty
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiPuzzleNext.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiPuzzleNext.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PuzzleAndGame.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get your puzzle activity
    ///
    /// Download your puzzle activity in [ndjson](#section/Introduction/Streaming-with-ND-JSON) format.
    /// Puzzle activity is sorted by reverse chronological order (most recent first)
    /// We recommend streaming the response, for it can be very long.
    ///
    ///
    /// - Remark: HTTP `GET /api/puzzle/activity`.
    /// - Remark: Generated from `#/paths//api/puzzle/activity/get(apiPuzzleActivity)`.
    internal func apiPuzzleActivity(_ input: Operations.apiPuzzleActivity.Input) async throws -> Operations.apiPuzzleActivity.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiPuzzleActivity.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/puzzle/activity",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "max",
                    value: input.query.max
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "before",
                    value: input.query.before
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiPuzzleActivity.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiPuzzleActivity.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/x-ndjson"
                        ]
                    )
                    switch chosenContentType {
                    case "application/x-ndjson":
                        body = try converter.getResponseBodyAsBinary(
                            OpenAPIRuntime.HTTPBody.self,
                            from: responseBody,
                            transforming: { value in
                                .application_x_hyphen_ndjson(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get puzzles to replay
    ///
    /// Gets the puzzle IDs of remaining puzzles to re-attempt in JSON format.
    ///
    /// - Remark: HTTP `GET /api/puzzle/replay/{days}/{theme}`.
    /// - Remark: Generated from `#/paths//api/puzzle/replay/{days}/{theme}/get(apiPuzzleReplay)`.
    internal func apiPuzzleReplay(_ input: Operations.apiPuzzleReplay.Input) async throws -> Operations.apiPuzzleReplay.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiPuzzleReplay.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/puzzle/replay/{}/{}",
                    parameters: [
                        input.path.days,
                        input.path.theme
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiPuzzleReplay.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiPuzzleReplay.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PuzzleReplay.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                case 404:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiPuzzleReplay.Output.NotFound.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.apiPuzzleReplay.Output.NotFound.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .notFound(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get your puzzle dashboard
    ///
    /// Download your [puzzle dashboard](https://lichess.org/training/dashboard/30/dashboard) as JSON.
    /// Also includes all puzzle themes played, with aggregated results.
    /// Allows re-creating the [improvement/strengths](https://lichess.org/training/dashboard/30/improvementAreas) interfaces.
    ///
    ///
    /// - Remark: HTTP `GET /api/puzzle/dashboard/{days}`.
    /// - Remark: Generated from `#/paths//api/puzzle/dashboard/{days}/get(apiPuzzleDashboard)`.
    internal func apiPuzzleDashboard(_ input: Operations.apiPuzzleDashboard.Input) async throws -> Operations.apiPuzzleDashboard.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiPuzzleDashboard.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/puzzle/dashboard/{}",
                    parameters: [
                        input.path.days
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiPuzzleDashboard.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiPuzzleDashboard.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PuzzleDashboard.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get the storm dashboard of a player
    ///
    /// Download the [storm dashboard](https://lichess.org/storm/dashboard/mrbasso) of any player as JSON.
    /// Contains the aggregated highscores, and the history of storm runs aggregated by days.
    /// Use `?days=0` if you only care about the highscores.
    ///
    ///
    /// - Remark: HTTP `GET /api/storm/dashboard/{username}`.
    /// - Remark: Generated from `#/paths//api/storm/dashboard/{username}/get(apiStormDashboard)`.
    internal func apiStormDashboard(_ input: Operations.apiStormDashboard.Input) async throws -> Operations.apiStormDashboard.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiStormDashboard.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/storm/dashboard/{}",
                    parameters: [
                        input.path.username
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "days",
                    value: input.query.days
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiStormDashboard.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiStormDashboard.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PuzzleStormDashboard.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Create and join a puzzle race
    ///
    /// Create a new private [puzzle race](https://lichess.org/racer).
    /// The Lichess user who creates the race must join the race page,
    /// and manually start the race when enough players have joined.
    /// - <https://lichess.org/racer>
    ///
    ///
    /// - Remark: HTTP `POST /api/racer`.
    /// - Remark: Generated from `#/paths//api/racer/post(racerPost)`.
    internal func racerPost(_ input: Operations.racerPost.Input) async throws -> Operations.racerPost.Output {
        try await client.send(
            input: input,
            forOperation: Operations.racerPost.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/racer",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.racerPost.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.racerPost.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PuzzleRacer.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get puzzle race results
    ///
    /// Get the results of a [puzzle race](https://lichess.org/racer).
    /// Returns information about players, puzzles, and the current status of the race.
    /// - <https://lichess.org/racer>
    ///
    /// Note that Lichess puzzle races are not persisted, and are only available
    /// for 30 minutes. After that delay, they are permanently deleted.
    ///
    ///
    /// - Remark: HTTP `GET /api/racer/{id}`.
    /// - Remark: Generated from `#/paths//api/racer/{id}/get(racerGet)`.
    internal func racerGet(_ input: Operations.racerGet.Input) async throws -> Operations.racerGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.racerGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/racer/{}",
                    parameters: [
                        input.path.id
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.racerGet.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.racerGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PuzzleRaceResults.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                case 404:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.racerGet.Output.NotFound.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.NotFound.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .notFound(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get users by ID
    ///
    /// Get up to 300 users by their IDs. Users are returned in the same order as the IDs.
    /// The method is `POST` to allow a longer list of IDs to be sent in the request body.
    /// Please do not try to download all the Lichess users with this endpoint, or any other endpoint.
    /// An API is not a way to fully export a website. We do not provide a full download of the Lichess users.
    /// This endpoint is limited to 8,000 users every 10 minutes, and 120,000 every day.
    ///
    ///
    /// - Remark: HTTP `POST /api/users`.
    /// - Remark: Generated from `#/paths//api/users/post(apiUsers)`.
    internal func apiUsers(_ input: Operations.apiUsers.Input) async throws -> Operations.apiUsers.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiUsers.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/users",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .plainText(value):
                    body = try converter.setRequiredRequestBodyAsBinary(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "text/plain"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiUsers.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiUsers.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            [Components.Schemas.User].self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get my profile
    ///
    /// Public information about the logged in user.
    ///
    ///
    /// - Remark: HTTP `GET /api/account`.
    /// - Remark: Generated from `#/paths//api/account/get(accountMe)`.
    internal func accountMe(_ input: Operations.accountMe.Input) async throws -> Operations.accountMe.Output {
        try await client.send(
            input: input,
            forOperation: Operations.accountMe.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/account",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.accountMe.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.accountMe.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.UserExtended.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get my email address
    ///
    /// Read the email address of the logged in user.
    ///
    ///
    /// - Remark: HTTP `GET /api/account/email`.
    /// - Remark: Generated from `#/paths//api/account/email/get(accountEmail)`.
    internal func accountEmail(_ input: Operations.accountEmail.Input) async throws -> Operations.accountEmail.Output {
        try await client.send(
            input: input,
            forOperation: Operations.accountEmail.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/account/email",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.accountEmail.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.accountEmail.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.accountEmail.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get my preferences
    ///
    /// Read the preferences of the logged in user.
    /// - <https://lichess.org/account/preferences/game-display>
    /// - <https://github.com/ornicar/lila/blob/master/modules/pref/src/main/Pref.scala>
    ///
    ///
    /// - Remark: HTTP `GET /api/account/preferences`.
    /// - Remark: Generated from `#/paths//api/account/preferences/get(account)`.
    internal func account(_ input: Operations.account.Input) async throws -> Operations.account.Output {
        try await client.send(
            input: input,
            forOperation: Operations.account.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/account/preferences",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.account.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.account.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.account.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get my kid mode status
    ///
    /// Read the kid mode status of the logged in user.
    /// - <https://lichess.org/account/kid>
    ///
    ///
    /// - Remark: HTTP `GET /api/account/kid`.
    /// - Remark: Generated from `#/paths//api/account/kid/get(accountKid)`.
    internal func accountKid(_ input: Operations.accountKid.Input) async throws -> Operations.accountKid.Output {
        try await client.send(
            input: input,
            forOperation: Operations.accountKid.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/account/kid",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.accountKid.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.accountKid.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.accountKid.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Set my kid mode status
    ///
    /// Set the kid mode status of the logged in user.
    /// - <https://lichess.org/account/kid>
    ///
    ///
    /// - Remark: HTTP `POST /api/account/kid`.
    /// - Remark: Generated from `#/paths//api/account/kid/post(accountKidPost)`.
    internal func accountKidPost(_ input: Operations.accountKidPost.Input) async throws -> Operations.accountKidPost.Output {
        try await client.send(
            input: input,
            forOperation: Operations.accountKidPost.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/account/kid",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "v",
                    value: input.query.v
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.accountKidPost.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.accountKidPost.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.Ok.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get my timeline
    ///
    /// Get the timeline events of the logged in user.
    ///
    ///
    /// - Remark: HTTP `GET /api/timeline`.
    /// - Remark: Generated from `#/paths//api/timeline/get(timeline)`.
    internal func timeline(_ input: Operations.timeline.Input) async throws -> Operations.timeline.Output {
        try await client.send(
            input: input,
            forOperation: Operations.timeline.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/timeline",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "since",
                    value: input.query.since
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "nb",
                    value: input.query.nb
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.timeline.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.timeline.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.Timeline.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Export one game
    ///
    /// Download one game in either PGN or JSON format.
    /// Ongoing games are delayed by a few seconds ranging from 3 to 60 depending on the time control, as to prevent cheat bots from using this API.
    ///
    ///
    /// - Remark: HTTP `GET /game/export/{gameId}`.
    /// - Remark: Generated from `#/paths//game/export/{gameId}/get(gamePgn)`.
    internal func gamePgn(_ input: Operations.gamePgn.Input) async throws -> Operations.gamePgn.Output {
        try await client.send(
            input: input,
            forOperation: Operations.gamePgn.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/game/export/{}",
                    parameters: [
                        input.path.gameId
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "moves",
                    value: input.query.moves
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "pgnInJson",
                    value: input.query.pgnInJson
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "tags",
                    value: input.query.tags
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "clocks",
                    value: input.query.clocks
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "evals",
                    value: input.query.evals
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "accuracy",
                    value: input.query.accuracy
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "opening",
                    value: input.query.opening
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "division",
                    value: input.query.division
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "literate",
                    value: input.query.literate
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "withBookmarked",
                    value: input.query.withBookmarked
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.gamePgn.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.gamePgn.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/x-chess-pgn",
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/x-chess-pgn":
                        body = try converter.getResponseBodyAsBinary(
                            OpenAPIRuntime.HTTPBody.self,
                            from: responseBody,
                            transforming: { value in
                                .application_x_hyphen_chess_hyphen_pgn(value)
                            }
                        )
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.GameJson.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Export ongoing game of a user
    ///
    /// Download the ongoing game, or the last game played, of a user.
    /// Available in either PGN or JSON format.
    /// Ongoing games are delayed by a few seconds ranging from 3 to 60 depending on the time control, as to prevent cheat bots from using this API.
    ///
    ///
    /// - Remark: HTTP `GET /api/user/{username}/current-game`.
    /// - Remark: Generated from `#/paths//api/user/{username}/current-game/get(apiUserCurrentGame)`.
    internal func apiUserCurrentGame(_ input: Operations.apiUserCurrentGame.Input) async throws -> Operations.apiUserCurrentGame.Output {
        try await client.send(
            input: input,
            forOperation: Operations.apiUserCurrentGame.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/user/{}/current-game",
                    parameters: [
                        input.path.username
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "moves",
                    value: input.query.moves
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "pgnInJson",
                    value: input.query.pgnInJson
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "tags",
                    value: input.query.tags
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "clocks",
                    value: input.query.clocks
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "evals",
                    value: input.query.evals
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "accuracy",
                    value: input.query.accuracy
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "opening",
                    value: input.query.opening
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "division",
                    value: input.query.division
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "literate",
                    value: input.query.literate
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let headers: Operations.apiUserCurrentGame.Output.Ok.Headers = .init(Access_hyphen_Control_hyphen_Allow_hyphen_Origin: try converter.getOptionalHeaderFieldAsURI(
                        in: response.headerFields,
                        name: "Access-Control-Allow-Origin",
                        as: Swift.String.self
                    ))
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.apiUserCurrentGame.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/x-chess-pgn",
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/x-chess-pgn":
                        body = try converter.getResponseBodyAsBinary(
                            OpenAPIRuntime.HTTPBody.self,
                            from: responseBody,
                            transforming: { value in
                                .application_x_hyphen_chess_hyphen_pgn(value)
                            }
                        )
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.GameJson.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(
                        headers: headers,
                        body: body
                    ))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Export games of a user
    ///
    /// Download all games of any user in PGN or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format.
    /// Games are sorted by reverse chronological order (most recent first).
[...]
